:root {
    --background-color: linear-gradient(120deg, #619b8a, rgba(60, 37, 67, 0.67));
    --background-overlay: rgba(0, 0, 0, 0.4);
}

body {
font-family:'Source Sans Pro',Arial, Helvetica, sans-serif;
margin:0px;
}

